Project/App_WebReferences/ServiceReference1/WebService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Download">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="audio_id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DownloadResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DownloadResult" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFileLen">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFileLenResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetFileLenResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFileDownloads">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="audio_id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFileDownloadsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetFileDownloadsResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetNumberOfDownloads">
        <s:complexType />
      </s:element>
      <s:element name="GetNumberOfDownloadsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetNumberOfDownloadsResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="DownloadSoapIn">
    <wsdl:part name="parameters" element="tns:Download" />
  </wsdl:message>
  <wsdl:message name="DownloadSoapOut">
    <wsdl:part name="parameters" element="tns:DownloadResponse" />
  </wsdl:message>
  <wsdl:message name="GetFileLenSoapIn">
    <wsdl:part name="parameters" element="tns:GetFileLen" />
  </wsdl:message>
  <wsdl:message name="GetFileLenSoapOut">
    <wsdl:part name="parameters" element="tns:GetFileLenResponse" />
  </wsdl:message>
  <wsdl:message name="GetFileDownloadsSoapIn">
    <wsdl:part name="parameters" element="tns:GetFileDownloads" />
  </wsdl:message>
  <wsdl:message name="GetFileDownloadsSoapOut">
    <wsdl:part name="parameters" element="tns:GetFileDownloadsResponse" />
  </wsdl:message>
  <wsdl:message name="GetNumberOfDownloadsSoapIn">
    <wsdl:part name="parameters" element="tns:GetNumberOfDownloads" />
  </wsdl:message>
  <wsdl:message name="GetNumberOfDownloadsSoapOut">
    <wsdl:part name="parameters" element="tns:GetNumberOfDownloadsResponse" />
  </wsdl:message>
  <wsdl:portType name="WebServiceSoap">
    <wsdl:operation name="Download">
      <wsdl:input message="tns:DownloadSoapIn" />
      <wsdl:output message="tns:DownloadSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetFileLen">
      <wsdl:input message="tns:GetFileLenSoapIn" />
      <wsdl:output message="tns:GetFileLenSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetFileDownloads">
      <wsdl:input message="tns:GetFileDownloadsSoapIn" />
      <wsdl:output message="tns:GetFileDownloadsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetNumberOfDownloads">
      <wsdl:input message="tns:GetNumberOfDownloadsSoapIn" />
      <wsdl:output message="tns:GetNumberOfDownloadsSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebServiceSoap" type="tns:WebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Download">
      <soap:operation soapAction="http://tempuri.org/Download" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFileLen">
      <soap:operation soapAction="http://tempuri.org/GetFileLen" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFileDownloads">
      <soap:operation soapAction="http://tempuri.org/GetFileDownloads" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNumberOfDownloads">
      <soap:operation soapAction="http://tempuri.org/GetNumberOfDownloads" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServiceSoap12" type="tns:WebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Download">
      <soap12:operation soapAction="http://tempuri.org/Download" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFileLen">
      <soap12:operation soapAction="http://tempuri.org/GetFileLen" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFileDownloads">
      <soap12:operation soapAction="http://tempuri.org/GetFileDownloads" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNumberOfDownloads">
      <soap12:operation soapAction="http://tempuri.org/GetNumberOfDownloads" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService">
    <wsdl:port name="WebServiceSoap" binding="tns:WebServiceSoap">
      <soap:address location="http://localhost:60970/Project/WebService.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServiceSoap12" binding="tns:WebServiceSoap12">
      <soap12:address location="http://localhost:60970/Project/WebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>